* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  color: #222222;
  font-family: "Nunito", helvetica, arial, sans-serif;
  box-sizing: border-box; /* Para em textos grandes o conteúdo respeite o tamanho da box, assim quando definido uma box de 300px, ele não somre os 300px + op tamanho do conteúdo, e sim a box + o conúdo tenham no maximo juntos 300px */
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%; /* Para que as imagens fiquem responsivas e não percam a qualidade */
}

/* Variable Color */

:root {
  --superinfo-bg: #122ab2;
  --menu-bg: #2c70ff;
  --text-sobre: #7c7c7c;
}





/* SuperInfo */

.superinfo-bg {
  background: var(--superinfo-bg);
  color: #FFF;
}

.superinfo {
  max-width: 960px;
  margin: 0 auto; /* 0 para cima/baixo e automatico para os lados, assim alinhando ao centro*/
  display: flex; /* Ficando um ao lado do outro respeitando o tamanho certinho do elemento*/
  justify-content: space-between; /* alinhando o conteudo com espaçamento entre os elementos*/
  flex-wrap: wrap; /* para que o conteudo quebre para a proxima linha quando não couber mais na tela */
  padding-top: 10px;
}

.superinfo p, .superinfo a {
  margin: 0 10px 10px 10px;
}


.superinfo a {
  color: #FFF;
}





/* Menu */

.menu-bg {
  background: var(--menu-bg);
}

.menu { /* Como eu quero que a "div" e a "nav" sejam display 'flex', é neste container que eu tenho que aplicar a estilização */
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex; /* Deixando um container ao lado do outro, assim os itens do nav ainda são display 'block', apenas o "nav" é display flex*/
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /* Alinhando os itens ao centro */
}

.menu a { /* Pegadando todos os a do "menu"*/
  color: #FFF;
}

.menu-logo a { /* Falando com minha logo*/
  font-size: 2.25em; /* Sendo 'em' uma medida que é dividida por 16 em relação a outra medida que seja 'px'*/
  font-weight: bold;
  margin: 0 10px; /* Passando esee margin para que quando diminua a tela o h1(logo) não fique grudado no contaiener direito e esquerdo, que é o canto do site */
}

.menu-nav ul{
  display: flex; /* Para tornar os itens dentro do ul (lista) flexiveis*/
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25em;
  display: block; /* Por padrão a tag "a" é flex, passando o display block para que possamo influenciar no padding dele */
  padding: 10px;
}

.menu-nav a:hover {
  color: var(--superinfo-bg);
}





/* Introdução */

.introducao {
  font-size:3em;
  line-height: 1; /* Altura da linha*/
  max-width: 960px;
  margin: 0 auto; /* Assim alinhando com o restante do conteúdo acima*/
  padding: 60px 10px
}





/* Sobre */

.sobre {
  border-top: 1px solid var(--menu-bg); /* Criando linhas horizontais*/
  border-top: 1px solid var(--menu-bg);
  max-width: 960px;
  margin: 0 auto; /* Assim alinhando ao centro */
  padding: 60px 0; /* Para dar uma separada da linha ao "Sobre*/ 
  display: flex; /* Fazedn o com que deixe os itens detro dele um ao lado do outro */
  flex-wrap: wrap; /* Para que as imagens quebrem */
}


.sobre-info {
  /* flex: 2 1 0; quando usamos ele da maneir aque stá embaixo ele faz: 2 para o flex-grow; flex-shink: 1; flex-basis: 0 */

  /* tendo esse "shink" de '1' por que caso ele sejá '0', quando o conteúdo chegar a 300px ou menos, ele não tentará mais enchaixar o conteúdo na tela e irá apenas ficar fixo  */
  flex: 2 1 300px; /* Colocando como "flex: 2" para que as informações ocupe 2 vezes mais espaço do que as imagens, ocupando praticamente a metade do container */
  /* margin: 0 10px; */


  /* Asiconando um "flex-basis", passando um valor para que ele quebre até ele cehagr o valor mínimo passado, então nesse caso quando ele chegar aos 300px ele irá quebrar, e não esperar o conteúdo ficar minímo e só assim quebrar */

}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: .5em;
}

.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: var(--text-sobre);
}

.sobre-img { /* Falando com a div que contem as imagens */
  flex: 1 1 160px; /* Asiconando um "flex-basis", passando um valor para que ele quebre até ele cehagr o valor mínimo passado, então nesse caso quando ele chegar aos 300px ele irá quebrar, e não esperar o conteúdo ficar minímo e só assim quebrar */

  margin: 0 10px; /* Dando um espaçamentro entre as imagens */
}
